<!DOCTYPE html>
<html lang = "es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" action="procesar.php" class="formulario">
    <div class="form-group">
        <label for="parametro1">nOMBRE:</label>
        <input type="text" id="parametro1" name="parametro1" class="form-control">
    </div>

    <div class="form-group">
        <label for="parametro2">Codigo:</label>
        <input type="text" id="parametro2" name="parametro2" class="form-control">
    </div>

    <div class="form-group">
        <label for="parametro3">Categoria:</label>
        <input type="text" id="parametro3" name="parametro3" class="form-control">
    </div>

    <div class="form-group">
        <label for="parametro4">Retencion:</label>
        <input type="text" id="parametro4" name="parametro4" class="form-control">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
</form>


</body>
</html>