<!DOCTYPE html>
<html lang = "es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel = "stylesheet" href= "../static/css/navbar.css" type="text/css" th:href="@{/css/navbar.css}">
</head>
<body>
<header class="header">
  <div class="logo">
    <a class="btn" href="/"><img src="https://art.pixilart.com/c519d9af54c8d25.png" width="80" height="80">
      <button>Menú Principal</button>
    </a>
  </div>
  <a class="btn" href="/opcionesProveedor"><button>Opciones Proveedor</button></a>
  <a class="btn" href="/opcionesGestion"><button>Gestión</button></a>
</header>
<tr th:each="pago : ${pago}">
<div class="container">
  <div style="background-color: #F9F9F9; border: 1px solid #ddd; border-radius: 5px; padding: 20px;">
    <h1 style="font-size: 28px; margin-bottom: 20px;">Información de pago</h1>
    <div class="row">
      <div class="col-lg-6">
        <h2 style="font-size: 24px; margin-bottom: 15px;">Detalles del pago</h2>
        <table class="table">
        <tr>
          <td>Id de pago:</td>
          <td th:text="${pago.id_pago}"></td>
        </tr>
        <tr>
          <td>Id de proveedor:</td>
          <td th:text="${pago.id_proveedor}"></td>
        </tr>
        <tr>
          <td>Id de resultado:</td>
          <td th:text="${pago.id_resultado}"></td>
        </tr>
        <tr>
          <td>Quincena:</td>
          <td th:text="${pago.quincena}"></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <h2>Detalles del proveedor</h2>
      <table class="table">
        <tr>
          <td>Código de proveedor:</td>
          <td th:text="${pago.codigoProveedor}"></td>
        </tr>
        <tr>
          <td>Nombre de proveedor:</td>
          <td th:text="${pago.nombreProveedor}"></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <h2>Detalles del pago de leche</h2>
      <table class="table">
        <tr>
          <td>Total de kilos de leche:</td>
          <td th:text="${pago.totalKlsLeche}"></td>
        </tr>
        <tr>
          <td>Número de días de envío de leche:</td>
          <td th:text="${pago.numDiasEnvioLeche}"></td>
        </tr>
        <tr>
          <td>Promedio diario de kilos de leche:</td>
          <td th:text="${pago.promedioDiarioKlsLeche}"></td>
        </tr>
        <tr>
          <td>Porcentaje de variación de leche:</td>
          <td th:text="${pago.porcentajeVariacionLeche}"></td>
        </tr>
        <tr>
          <td>Pago por leche:</td>
          <td th:text="${pago.pagoPorLeche}"></td>
        </tr>
        <tr>
          <td>Descuento por variación de leche:</td>
          <td th:text="${pago.descuentoVariacionLeche}"></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <h2>Detalles del pago de grasa</h2>
      <table class="table">
        <tr>
          <td>Porcentaje de grasa:</td>
          <td th:text="${pago.porcentajeGrasa}"></td>
        </tr>
        <tr>
          <td>Porcentaje de variación de grasa:</td>
          <td th:text="${pago.porcentajeVariacionGrasa}"></td>
        </tr>
        <tr>
          <td>Pago por grasa:</td>
          <td th:text="${pago.pagoPorGrasa}"></td>
        </tr>
        <tr>
          <td>Descuento por variación de grasa:</td>
          <td th:text="${pago.descuentoVariacionGrasa}"></td>
        </tr>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6">
      <h2>Detalles del pago de sólidos totales</h2>
      <table class="table">
        <tr>
          <td>Porcentaje de sólidos totales:</td>
          <td th:text="${pago.porcentajeSolidosTotales}"></td>
        </tr>
        <tr>
          <td>Porcentaje de variación de sólidos totales:</td>
          <td th:text="${pago.porcentajeVariacionST}"></td>
        </tr>
        <tr>
          <td>Pago por sólidos totales:</td>
          <td th:text="${pago.pagoPorSolidosTotales}"></td>
        </tr>
        <tr>
          <td>Descuento por variación de sólidos totales:</td>
          <td th:text="${pago.descuentoVariacionST}"></td>
        </tr>
      </table>
    </div>
    <div class="col-lg-6">
      <h2>Otros detalles de pago</h2>
      <table class="table">
        <tr>
          <td>Bonificación por frecuencia:</td>
          <td th:text="${pago.bonificacionPorFrecuencia}"></td>
        </tr>
        <tr>
          <td>Pago total:</td>
          <td th:text="${pago.pagoTotal}"></td>
        </tr>
        <tr>
          <td>Monto de retención:</td>
          <td th:text="${pago.montoRetencion}"></td>
        </tr>
        <tr>
          <td>Monto final:</td>
          <td th:text="${pago.montoFinal}"></td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
  <br>
</tr>
</body>
</html>